1. Temporarily add to PATH variable for custom Python modules.
2. Import custom Python modules.

In [1]:
import os
import sys

home_path = f"C:{os.environ['HOMEPATH']}"
bu_path = f"{home_path}\\OneDrive - Bellevue University\\Bellevue_University"

custom_mod_path = f"{bu_path}\\Python\\Custom_Modules".replace('\\', '/')

sys.path.append(custom_mod_path)

import api_keys
import hakuna_patata

<br>

Import Non-Custom Modules

In [2]:
import keyring
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
import dask
from http import HTTPStatus
from bs4 import BeautifulSoup
from zipfile import ZipFile

%matplotlib inline

# matplotlib default settings
plt.style.use('dark_background')
mpl.rcParams.update({'lines.linewidth': 3})
mpl.rcParams.update({'axes.labelsize': 14})
mpl.rcParams.update({'axes.titlesize': 16})
mpl.rcParams.update({'axes.titleweight': 'bold'})
mpl.rcParams.update({'figure.autolayout': True})
mpl.rcParams.update(
    {'axes.grid': True, 'grid.color': '#424242', 'grid.linestyle': '--'})

# creation random number generator object
rng_seed = 777
rng = np.random.default_rng(rng_seed)

# pandas dataframe options
pd.set_option('display.max_columns', None)

<br>

1. Create temporary Kaggle API environment variables
2. Import KaggleApi class
3. Instantiate KaggleApi object and execute authentication method

In [3]:
os.environ['KAGGLE_USERNAME'] = api_keys.Kaggle_API['username']
os.environ['KAGGLE_KEY'] = api_keys.Kaggle_API['key']

from kaggle.api.kaggle_api_extended import KaggleApi


k_api = KaggleApi()
k_api.authenticate()

<br>

Download dataset to specified path.

In [4]:
k_ds = 'rush4ratio/video-game-sales-with-ratings'

ds = 'rush4ratio/video-game-sales-with-ratings'
fn = 'Video_Games_Sales_as_at_22_Dec_2016.csv'
path = f"{bu_path}\\DSC 550 - Data Mining\\Data"

k_api.dataset_download_file(dataset=ds, file_name=fn, path=path, quiet=False)

Downloading Video_Games_Sales_as_at_22_Dec_2016.csv.zip to C:\Users\patwea\OneDrive - Bellevue University\Bellevue_University\DSC 550 - Data Mining\Data

100%|██████████| 476k/476k [00:00<00:00, 11.3MB/s]

True

Read the zipped .csv file into a pandas DataFrame.

In [5]:
file_path = f"{path}\\Video_Games_Sales_as_at_22_Dec_2016.csv.zip"
zf = ZipFile(file_path)
k_df = pd.read_csv(zf.open('Video_Games_Sales_as_at_22_Dec_2016.csv'))

k_df.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

<br>

Below is the shape of the DataFrame (aka Rows, Columns). Each row is an individual unique observation. In this case, each row represents a specific video game and each column represents attributes of each observation (aka Video Game).

In [6]:
n_rows, n_cols = k_df.shape

print(f"""
NUMBER OF ROWS: {n_rows}
NUMBER OF COLS: {n_cols}
""")

NUMBER OF ROWS: 16719
NUMBER OF COLS: 16

<br>

Top 5 Video Games by Critic Score.

In [7]:
k_df.sort_values(by=['Critic_Score'], ascending=False).head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
227,Tony Hawk's Pro Skater 2,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68,98.0,19.0,7.7,299.0,Neversoft Entertainment,T
57,Grand Theft Auto IV,PS3,2008.0,Action,Take-Two Interactive,4.76,3.69,0.44,1.61,10.50,98.0,64.0,7.5,2833.0,Rockstar North,M
51,Grand Theft Auto IV,X360,2008.0,Action,Take-Two Interactive,6.76,3.07,0.14,1.03,11.01,98.0,86.0,7.9,2951.0,Rockstar North,M
5350,SoulCalibur,DC,1999.0,Fighting,Namco Bandai Games,0.00,0.00,0.34,0.00,0.34,98.0,24.0,8.8,200.0,Namco,T
165,Grand Theft Auto V,XOne,2014.0,Action,Take-Two Interactive,2.81,2.19,0.00,0.47,5.48,97.0,14.0,7.9,764.0,Rockstar North,M

<br>

Number of Video Games for each genre.

In [8]:
k_df['Genre'] = k_df['Genre'].fillna('*Unspecified')

k_df.groupby('Genre')['Genre'].count().sort_values(ascending=False)

Genre
Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
*Unspecified       2
Name: Genre, dtype: int64

<br>

First 5 games on the SNES.

In [9]:
df_filter = k_df['Platform'].str.contains(r'snes', regex=True, case=False)

k_df[df_filter].sort_values(by='Year_of_Release').head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
18,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61,NaN,NaN,NaN,NaN,NaN,NaN
1195,Final Fight,SNES,1990.0,Action,Capcom,0.67,0.17,0.69,0.03,1.56,NaN,NaN,NaN,NaN,NaN,NaN
511,F-Zero,SNES,1990.0,Racing,Nintendo,1.37,0.51,0.89,0.07,2.85,NaN,NaN,NaN,NaN,NaN,NaN
1791,Pilotwings,SNES,1990.0,Simulation,Nintendo,0.46,0.17,0.48,0.02,1.14,NaN,NaN,NaN,NaN,NaN,NaN
1111,Super Scope 6,SNES,1991.0,Shooter,Nintendo,1.06,0.38,0.15,0.05,1.65,NaN,NaN,NaN,NaN,NaN,NaN

<br>

5 publishers with the highest total global sales.

In [10]:
k_df['Global_Sales'] = k_df['Global_Sales'].fillna(0)

k_df[['Publisher', 'Global_Sales']].groupby('Publisher').sum(
).sort_values(by='Global_Sales', ascending=False).head(5)

                             Global_Sales
Publisher
Nintendo                          1788.81
Electronic Arts                   1116.96
Activision                         731.16
Sony Computer Entertainment        606.48
Ubisoft                            471.61

<br>

New Column - Percent (%) of global sales in North America.

In [11]:
k_df['NA_Sales%'] = k_df['NA_Sales'].fillna(0) / k_df['Global_Sales'].fillna(0)

k_df.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,NA_Sales%
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,0.501151
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,0.722664
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,0.441441
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,0.476350
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,0.359260

<br>

Number of NaN values in each column.

In [12]:
pd.read_csv(zf.open('Video_Games_Sales_as_at_22_Dec_2016.csv')).isna().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

<br>

1. Replace non-numerical values with NaN for User Score column.
2. Calculate median for User Score column.
3. Replace NaN values with median.

In [13]:
# if unable to convert to numerica then NaN
k_df['User_Score'] = pd.to_numeric(k_df['User_Score'], errors='coerce')

user_score_median = k_df['User_Score'].median()

k_df['User_Score'] = k_df['User_Score'].fillna(user_score_median)

k_df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,NA_Sales%
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,0.501151
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,7.5,NaN,NaN,NaN,0.722664
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,0.441441
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,0.476350
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,7.5,NaN,NaN,NaN,0.359260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,7.5,NaN,NaN,NaN,0.000000
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,7.5,NaN,NaN,NaN,0.000000
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,7.5,NaN,NaN,NaN,0.000000
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,7.5,NaN,NaN,NaN,1.000000
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,7.5,NaN,NaN,NaN,0.000000