<a id='_home'></a>

# <span style="color:#bce35b">Assignment 2.1</span>

<span style="color:#9c9c9c; font-size:16px">


**Author**: Patrick Weatherford <br>
**Affiliation**: Bellevue University <br>
**Class**: DSC 530 - Data Exploration and Analysis
    
</span>

***

<br>

In [1]:
print(f'Hello World! I wonder why that is always the default coding text to start with')

Hello World! I wonder why that is always the default coding text to start with

In [2]:
print(2+1)

3

In [3]:
print(5-1)

4

In [4]:
print(5*2)

10

In [6]:
print(7/2)

3.5

In [7]:
var1 = 'This is a '
var2 = 'concatenated string'

print(var1 + var2)

This is a concatenated string

In [11]:
list1 = [1,'s', 2.5, 'b']

print(list1)

# append item to list
list1.append('blahblah')

print(list1)

[1, 's', 2.5, 'b']
[1, 's', 2.5, 'b', 'blahblah']

In [12]:
tupl = ('Id:', 1255, 'Name:', 'Hakuna-Patata')

print(tupl)

('Id:', 1255, 'Name:', 'Hakuna-Patata')