# <span style="color:#bce35b;font-size:35px"><b>Week 5 & 6</b></span>
<!-- # <span style="color:#bce35b;font-size:35px">Title<b>Title</b></span> -->
<!-- # <span style="color:#bce35b">H1</span> -->
<!-- ## <span style="color:#ae8bd5">H2</span> -->
<!-- ### <span style="color:#9c4957">H3</span> -->
<!-- #### <span style="color:white">H4</span> -->

<span style="color:#8c8c8c">Patrick Weatherford</span>

[Green]: <> (#bce35b)
[Purple]: <> (#ae8bd5)
[Coral]: <> (#9c4957)
[Grey]: <> (#8c8c8c)

***
***

Importing libraries

In [1]:
import os 
import keyring

os.environ['KAGGLE_USERNAME'] = 'hakunapatata123'
os.environ['KAGGLE_KEY'] = keyring.get_password(service_name='kaggle_api', username=os.environ['KAGGLE_USERNAME'])

import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import requests
from collections import deque as deq
from itertools import permutations, dropwhile, zip_longest
import re
import math
import io
import scipy
import sys
from bs4 import BeautifulSoup
import lxml


## import custom config file with keys and change working directory
class_path = os.path.expanduser('~') + '\\OneDrive - Bellevue University\\Bellevue_University\\DSC 540 - Data Preparation'
bu_path = os.path.expanduser('~') + '\\OneDrive - Bellevue University\\Bellevue_University'
os.chdir(bu_path); import config; os.chdir(class_path)


## matplotlib default settings
plt.style.use('dark_background')
mpl.rcParams.update({'lines.linewidth':3})
mpl.rcParams.update({'axes.labelsize':14})
mpl.rcParams.update({'axes.titlesize':16})
mpl.rcParams.update({'axes.titleweight':'bold'})
mpl.rcParams.update({'figure.autolayout':True})
mpl.rcParams.update({'axes.grid':True, 'grid.color':'#424242', 'grid.linestyle':'--'})

In [2]:
## see list of current settings
# plt.rcParams.keys()

<br>
Instantiating random number generator

In [3]:
rng_seed = 777
rng = np.random.default_rng(rng_seed)

<br>

***

# <span style="color:#bce35b">Book Activities</span>
<!-- # <span style="color:#bce35b;font-size:35px">Title<b>Title</b></span> -->
<!-- # <span style="color:#bce35b">H1</span> -->
<!-- ## <span style="color:#ae8bd5">H2</span> -->
<!-- ### <span style="color:#9c4957">H3</span> -->
<!-- #### <span style="color:white">H4</span> -->

<!-- <span style="color:#8c8c8c">Patrick Weatherford</span> -->

[Green]: <> (#bce35b)
[Purple]: <> (#ae8bd5)
[Coral]: <> (#9c4957)
[Grey]: <> (#8c8c8c)

<br>


## <span style="color:#ae8bd5">Activity 7</span>
<!-- # <span style="color:#bce35b;font-size:35px">Title<b>Title</b></span> -->
<!-- # <span style="color:#bce35b">H1</span> -->
<!-- ## <span style="color:#ae8bd5">H2</span> -->
<!-- ### <span style="color:#9c4957">H3</span> -->
<!-- #### <span style="color:white">H4</span> -->

<!-- <span style="color:#8c8c8c">Patrick Weatherford</span> -->

[Green]: <> (#bce35b)
[Purple]: <> (#ae8bd5)
[Coral]: <> (#9c4957)
[Grey]: <> (#8c8c8c)

In [4]:
## GET response from url as html text and parse with BeautifulSoup
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'
s = requests.Session()
r = s.get(url, timeout=10).text
soup = BeautifulSoup(r, 'html.parser')

In [5]:
## find tables with specific tag/class (one 1 table needed from url)
table_soup = soup.find_all('table', {'class':'wikitable sortable static-row-numbers plainrowheaders srn-white-background'})

## create a DataFrame from table found using pandas (way easy compared to manual BeautfulSoup method)
gdp_df = pd.DataFrame(pd.read_html(str(table_soup))[0])

gdp_df

    Country/Territory    Region      IMF[1]            United Nations[12]  \
    Country/Territory    Region    Estimate       Year           Estimate
0       United States  Americas  22939580.0       2021         20893746.0
1               China      Asia  16862979.0  [n 2]2021         14722801.0
2               Japan      Asia   5103110.0       2021          5057759.0
3             Germany    Europe   4230172.0       2021          3846414.0
4      United Kingdom    Europe   3108416.0       2021          2764198.0
..                ...       ...         ...        ...                ...
211          Kiribati   Oceania       232.0       2021              181.0
212             Palau   Oceania       208.0       2021              264.0
213             Nauru   Oceania       133.0       2021              135.0
214        Montserrat  Americas         NaN        NaN               68.0
215            Tuvalu   Oceania        65.0       2021               55.0

               World Bank[13][14]
          Year           Estimate  Year
0         2020         20936600.0  2020
1    [n 3]2020         14722731.0  2020
2         2020          4975415.0  2020
3         2020          3806060.0  2020
4         2020          2707744.0  2020
..         ...                ...   ...
211       2020              200.0  2020
212       2020              268.0  2019
213       2020              118.0  2019
214       2020                NaN   NaN
215       2020               49.0  2020

[216 rows x 8 columns]

<br>

Now to get rid of those pesky strings surrounded by brackets.

In [6]:
## using regular expressions, remove bracket'd stuff in headers
new_col_header = []
for col_tup in gdp_df.columns:
    h1 = re.sub("\[.+\]","",col_tup[0])
    h2 = re.sub("\[.+\]","",col_tup[1])
    header = (h1, h2)
    new_col_header.append(header)

## will use the MultiIndex Class and from_tuples Class method to make grouped index
new_col_header = pd.MultiIndex.from_tuples(new_col_header)

new_col_header

MultiIndex([('Country/Territory', 'Country/Territory'),
            (           'Region',            'Region'),
            (              'IMF',          'Estimate'),
            (              'IMF',              'Year'),
            (   'United Nations',          'Estimate'),
            (   'United Nations',              'Year'),
            (       'World Bank',          'Estimate'),
            (       'World Bank',              'Year')],
           )

In [7]:
## replace old columns with pandas multiindex object created
gdp_df.columns = new_col_header

gdp_df

    Country/Territory    Region         IMF            United Nations  \
    Country/Territory    Region    Estimate       Year       Estimate
0       United States  Americas  22939580.0       2021     20893746.0
1               China      Asia  16862979.0  [n 2]2021     14722801.0
2               Japan      Asia   5103110.0       2021      5057759.0
3             Germany    Europe   4230172.0       2021      3846414.0
4      United Kingdom    Europe   3108416.0       2021      2764198.0
..                ...       ...         ...        ...            ...
211          Kiribati   Oceania       232.0       2021          181.0
212             Palau   Oceania       208.0       2021          264.0
213             Nauru   Oceania       133.0       2021          135.0
214        Montserrat  Americas         NaN        NaN           68.0
215            Tuvalu   Oceania        65.0       2021           55.0

                World Bank
          Year    Estimate  Year
0         2020  20936600.0  2020
1    [n 3]2020  14722731.0  2020
2         2020   4975415.0  2020
3         2020   3806060.0  2020
4         2020   2707744.0  2020
..         ...         ...   ...
211       2020       200.0  2020
212       2020       268.0  2019
213       2020       118.0  2019
214       2020         NaN   NaN
215       2020        49.0  2020

[216 rows x 8 columns]

In [8]:
## for the rows, go through each column and replace bracket'd stuff with no-value string
for col in gdp_df.columns:
    gdp_df[col].replace("\[.+\]", "", regex=True, inplace=True)

gdp_df

    Country/Territory    Region         IMF       United Nations        \
    Country/Territory    Region    Estimate  Year       Estimate  Year
0       United States  Americas  22939580.0  2021     20893746.0  2020
1               China      Asia  16862979.0  2021     14722801.0  2020
2               Japan      Asia   5103110.0  2021      5057759.0  2020
3             Germany    Europe   4230172.0  2021      3846414.0  2020
4      United Kingdom    Europe   3108416.0  2021      2764198.0  2020
..                ...       ...         ...   ...            ...   ...
211          Kiribati   Oceania       232.0  2021          181.0  2020
212             Palau   Oceania       208.0  2021          264.0  2020
213             Nauru   Oceania       133.0  2021          135.0  2020
214        Montserrat  Americas         NaN   NaN           68.0  2020
215            Tuvalu   Oceania        65.0  2021           55.0  2020

     World Bank
       Estimate  Year
0    20936600.0  2020
1    14722731.0  2020
2     4975415.0  2020
3     3806060.0  2020
4     2707744.0  2020
..          ...   ...
211       200.0  2020
212       268.0  2019
213       118.0  2019
214         NaN   NaN
215        49.0  2020

[216 rows x 8 columns]

<br>


## <span style="color:#ae8bd5">Activity 8</span>
<!-- # <span style="color:#bce35b;font-size:35px">Title<b>Title</b></span> -->
<!-- # <span style="color:#bce35b">H1</span> -->
<!-- ## <span style="color:#ae8bd5">H2</span> -->
<!-- ### <span style="color:#9c4957">H3</span> -->
<!-- #### <span style="color:white">H4</span> -->

<!-- <span style="color:#8c8c8c">Patrick Weatherford</span> -->

[Green]: <> (#bce35b)
[Purple]: <> (#ae8bd5)
[Coral]: <> (#9c4957)
[Grey]: <> (#8c8c8c)

<br><br>

***

### Book Practice Below

In [9]:
odd_nums = [x for x in range(100000) if x % 2 != 0]

sys.getsizeof(odd_nums)

444376

In [10]:
odd_nums2 = (x for x in range(100000) if x % 2 != 0)
odd_nums_list = [x for x in odd_nums2]

sys.getsizeof(odd_nums2), sys.getsizeof(odd_nums_list)

(104, 444376)

In [11]:
list2 = []

def odd_num_gen():
    i = 1

    while True:
        if i % 2 != 0:
            yield i
            i += 1
        else:
            i += 1

for num in odd_num_gen():
    if num > 100000:
        break
    list2.append(num)

sys.getsizeof(list2)

444376

In [12]:
l1 = [1,2,3,4,5]

l1_gen = (num for num in l1)
l1_lst = [num for num in l1_gen]
l1_lst

[1, 2, 3, 4, 5]