# <span style="color:#bce35b;font-size:35px"><b>Week 7 & 8</b></span>
<!-- # <span style="color:#bce35b;font-size:35px">Title<b>Title</b></span> -->
<!-- # <span style="color:#bce35b">H1</span> -->
<!-- ## <span style="color:#ae8bd5">H2</span> -->
<!-- ### <span style="color:#9c4957">H3</span> -->
<!-- #### <span style="color:white">H4</span> -->

<span style="color:#8c8c8c">Patrick Weatherford</span>

[Green]: <> (#bce35b)
[Purple]: <> (#ae8bd5)
[Coral]: <> (#9c4957)
[Grey]: <> (#8c8c8c)

***
***

Importing libraries

In [2]:
import os
import keyring

os.environ['KAGGLE_USERNAME'] = 'hakunapatata'
os.environ['KAGGLE_KEY'] = keyring.get_password(service_name='kaggle_api', username=os.environ['KAGGLE_USERNAME'])

import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import requests
from collections import deque as deq
from itertools import permutations, dropwhile, zip_longest
import re
import math
import io
import scipy
import sys
from bs4 import BeautifulSoup
import lxml
from fuzzywuzzy import fuzz, process
import sqlite3
import datetime as dt
from dask import dataframe as dd

%matplotlib inline

## matplotlib default settings
plt.style.use('dark_background')
mpl.rcParams.update({'lines.linewidth':3})
mpl.rcParams.update({'axes.labelsize':14})
mpl.rcParams.update({'axes.titlesize':16})
mpl.rcParams.update({'axes.titleweight':'bold'})
mpl.rcParams.update({'figure.autolayout':True})
mpl.rcParams.update({'axes.grid':True, 'grid.color':'#424242', 'grid.linestyle':'--'})

## creation random number generator object
rng_seed = 777
rng = np.random.default_rng(rng_seed)

In [3]:
## see list of current settings
# plt.rcParams.keys()

<br>

***

# <span style="color:#bce35b">Week Activities</span>
<!-- # <span style="color:#bce35b;font-size:35px">Title<b>Title</b></span> -->
<!-- # <span style="color:#bce35b">H1</span> -->
<!-- ## <span style="color:#ae8bd5">H2</span> -->
<!-- ### <span style="color:#9c4957">H3</span> -->
<!-- #### <span style="color:white">H4</span> -->

<!-- <span style="color:#8c8c8c">Patrick Weatherford</span> -->

[Green]: <> (#bce35b)
[Purple]: <> (#ae8bd5)
[Coral]: <> (#9c4957)
[Grey]: <> (#8c8c8c)

From the datasets provided, manipulate/clean the dataset using 2 concepts from each of the chapters below.

<span style="font-size:12px">

Chapter 7
- Filter out missing data
- Fill in missing data
- Remove duplicates
- Transform data using either mapping or a function
- Replace values
- Discretization and Binning
- Manipulate Strings

Chapter 8
- Create hierarchical index
- Combine and Merge Datasets (you will have to either create a new dataset from your existing data or create a relationship between the data I have provided)
- Reshape
- Pivot the data

Chapter 10
- Grouping with Dicts/Series
- Grouping with Functions
- Grouping with Index Levels
- Split/Apply/Combine
- Cross Tabs

Chapter 11
- Convert between string and date time
- Generate date range
- Frequencies and date offsets
- Convert timestamps to periods and back
- Period Frequency conversions

</span>

Import Metropolitan Museum of Art .csv file

In [44]:
csv_url = "https://media.githubusercontent.com/media/metmuseum/openaccess/master/MetObjects.csv"

bad_line_list = []

def bad_line_func(line):
    bad_line_list.append(line)

df = dd.read_csv(csv_url, dtype="string", on_bad_lines=bad_line_func, engine="python")

In [57]:
df.loc[df["AccessionYear"].str.len() > 4, ["AccessionYear"]].compute()

       AccessionYear
31371     2005-02-15
21594     2020-03-23
104185      19171917
107252    1953-05-28
107255    1956-08-24
107937    1926-06-07

In [30]:
bad_line_list = []

def bad_line_func(line):
    bad_line_list.append(line)

ddf = dd.read_csv('csv_test.csv', on_bad_lines=bad_line_func, engine="python")

bad_line_list

[['2', 'blah', 'blah'], ['4', 'sup', 'yo', 'blah']]

In [32]:
ddf["ID"].unique().compute()

0    1
1    3
2    5
Name: ID, dtype: int64