# <span style="color:#bce35b;font-size:35px"><b>Week 7 & 8</b></span>
<!-- # <span style="color:#bce35b;font-size:35px">Title<b>Title</b></span> -->
<!-- # <span style="color:#bce35b">H1</span> -->
<!-- ## <span style="color:#ae8bd5">H2</span> -->
<!-- ### <span style="color:#9c4957">H3</span> -->
<!-- #### <span style="color:white">H4</span> -->

<span style="color:#8c8c8c">Patrick Weatherford</span>

[Green]: <> (#bce35b)
[Purple]: <> (#ae8bd5)
[Coral]: <> (#9c4957)
[Grey]: <> (#8c8c8c)

***
***

Importing libraries

In [105]:
import os
import keyring

os.environ['KAGGLE_USERNAME'] = 'hakunapatata'
os.environ['KAGGLE_KEY'] = keyring.get_password(service_name='kaggle_api', username=os.environ['KAGGLE_USERNAME'])

import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import requests
from collections import deque as deq
from itertools import permutations, dropwhile, zip_longest
import re
import math
import io
import scipy
import sys
from bs4 import BeautifulSoup
import lxml
from fuzzywuzzy import fuzz, process
import sqlite3
import datetime as dt

%matplotlib inline

## matplotlib default settings
plt.style.use('dark_background')
mpl.rcParams.update({'lines.linewidth':3})
mpl.rcParams.update({'axes.labelsize':14})
mpl.rcParams.update({'axes.titlesize':16})
mpl.rcParams.update({'axes.titleweight':'bold'})
mpl.rcParams.update({'figure.autolayout':True})
mpl.rcParams.update({'axes.grid':True, 'grid.color':'#424242', 'grid.linestyle':'--'})

In [8]:
## see list of current settings
# plt.rcParams.keys()

<br>
Instantiating random number generator

In [9]:
rng_seed = 777
rng = np.random.default_rng(rng_seed)

<br>

***

# <span style="color:#bce35b">Week Activities</span>
<!-- # <span style="color:#bce35b;font-size:35px">Title<b>Title</b></span> -->
<!-- # <span style="color:#bce35b">H1</span> -->
<!-- ## <span style="color:#ae8bd5">H2</span> -->
<!-- ### <span style="color:#9c4957">H3</span> -->
<!-- #### <span style="color:white">H4</span> -->

<!-- <span style="color:#8c8c8c">Patrick Weatherford</span> -->

[Green]: <> (#bce35b)
[Purple]: <> (#ae8bd5)
[Coral]: <> (#9c4957)
[Grey]: <> (#8c8c8c)

<br>


## <span style="color:#ae8bd5">Activity 7</span>
<!-- # <span style="color:#bce35b;font-size:35px">Title<b>Title</b></span> -->
<!-- # <span style="color:#bce35b">H1</span> -->
<!-- ## <span style="color:#ae8bd5">H2</span> -->
<!-- ### <span style="color:#9c4957">H3</span> -->
<!-- #### <span style="color:white">H4</span> -->

<!-- <span style="color:#8c8c8c">Patrick Weatherford</span> -->

[Green]: <> (#bce35b)
[Purple]: <> (#ae8bd5)
[Coral]: <> (#9c4957)
[Grey]: <> (#8c8c8c)

<br>

***

# <span style="color:#bce35b">Code Practice Below</span>
<!-- # <span style="color:#bce35b;font-size:35px">Title<b>Title</b></span> -->
<!-- # <span style="color:#bce35b">H1</span> -->
<!-- ## <span style="color:#ae8bd5">H2</span> -->
<!-- ### <span style="color:#9c4957">H3</span> -->
<!-- #### <span style="color:white">H4</span> -->

<!-- <span style="color:#8c8c8c">Patrick Weatherford</span> -->

[Green]: <> (#bce35b)
[Purple]: <> (#ae8bd5)
[Coral]: <> (#9c4957)
[Grey]: <> (#8c8c8c)

In [35]:
pd.Series(['yo', np.nan])

0     yo
1    NaN
dtype: object

In [49]:
today = dt.datetime.now()

pd.Series([today, np.nan])

0   2022-04-26 13:32:24.430400
1                          NaT
dtype: datetime64[ns]

In [52]:
today = dt.datetime.now()

np.asarray([today, None])

array([datetime.datetime(2022, 4, 26, 13, 33, 45, 117991), None],
      dtype=object)

In [104]:
df1 = pd.DataFrame([(1,'a', 3.3),(2,'b', 5.5),(3,'c',6.6),(3,'d',7.7)], columns=['ID','VALUE','VAL']).set_index(['ID','VALUE'])
df2 = pd.DataFrame([(1,'a','blah'),(3,'c','more_blah')], columns=['ID2','VALUE2','VAL2']).set_index(['ID2','VALUE2'])

df1.join(df2, on=['ID','VALUE'], how='left')

          VAL       VAL2
ID VALUE
1  a      3.3       blah
2  b      5.5        NaN
3  c      6.6  more_blah
   d      7.7        NaN

In [106]:
def fuzzy_match_df(col1, col2, threshold=90, fuzz_type='token_sort_ratio'):

    # get unique values from columns passed to function
    col1 = pd.Series(col1).unique()
    col2 = pd.Series(col2).unique()

    matches = []

    for c1 in col1:
        match = process.extractOne(c1, col2, scorer=getattr(
            fuzz, fuzz_type), score_cutoff=threshold)  # gets the best match above threshold
        if match is None:
            match_tuple = (c1, None, None)
        else:
            match_tuple = (c1, match[0], match[1])

        matches.append(match_tuple)
    return pd.DataFrame(matches, columns=['COL1', 'COL2_MATCH', 'MATCH_RATIO'])

In [112]:
col1 = ['blah', 'yo123', 'blahblah123']
col2 = ['BLAH', 'Yo1', 'BLAHbluh333']

fuzzy_match_df(col1, col2, threshold=70, fuzz_type='token_sort_ratio')

          COL1   COL2_MATCH  MATCH_RATIO
0         blah         BLAH          100
1        yo123          Yo1           75
2  blahblah123  BLAHbluh333           73